<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
<div id="post-info">
    <div id="cover-photo-container">
      <!-- <img id="cover-photo" src="/images/{{ page.cover }}"> -->
    </div>
  </div>
  <div class="post">
    <span class="name">Philippe Potvin</span>
    <p><strong >Hello,</strong>I am a 21 years old web application developper <br />from <strong>Montreal,Quebec.</strong></p>
    <p>
        I have just started my 2nd years in Bachelor of Engineering in Information Technology  at<br/> <strong>École de technologie supérieure </strong>
    </p>
    <p>
        Over the first years of study I had the chance to be part of the 2014 edition of <strong>Lan ETS</strong>. The most amazing fact about it is the dedication time it does require to be able to give life to such a big event. I also had the chance to be part of the <a href="http://dciets.com/">DCI</a>  (Délégation de compétition informatique) of the <strong>École de technologie supérieure </strong> and qualify for the CS Games 2014 and win the CS Games 2014 for the university in the Web developpement competition.
    </p>
    <p>
        I love coding web applications and working on various systems as linux (ubuntu 10,0), OSX Montain Lion, Windows 7. I am always looking to learn the most from my various projects!. Javascript as a front-end is great but i do work with back-end technologies. From C# to JAVA passing to .NET and PHP.
    </p>
    <p>
        I do like sports, going to movies, having a beer with some cool people. Playing computer games from time to time. I recently join the <a href="http://2014.lanets.ca/">Lan ETS</a> club at the university.
    </p>
    <p>
        When I'm not at school or doing sport, I must be at starbuck enjoying a coffe whit some nice people or coding on some projets at a table. 
    </p> 
</div>
