<div class="row">

  	 <div class="col-md-2">
		  	<canvas id="JAVA" height="50" width="50"></canvas>
			<script>
				var doughnutData = [
						{
							value : 300,
							color : "#4D5360"
						},
						{
							value : 60,
							color : "#FFFFFF"
						}
					];

			var myDoughnut = new Chart(document.getElementById("JAVA").getContext("2d")).Doughnut(doughnutData);
			</script>
			<p>JAVA</p>
  	</div>
  	<div class="col-md-2">
		  	<canvas id="JAVASCRIPT" height="50" width="50"></canvas>
			<script>
				var doughnutData = [
						{
							value : 320,
							color : "#4D5360"
						},
						{
							value : 40,
							color : "#FFFFFF"
						}
					];

			var myDoughnut = new Chart(document.getElementById("JAVASCRIPT").getContext("2d")).Doughnut(doughnutData);
			</script>
			<p>JAVASCRIPT</p>
  	</div>
  	<div class="col-md-2">
		  	<canvas id="C#" height="50" width="50"></canvas>
			<script>
				var doughnutData = [
						{
							value : 320,
							color : "#4D5360"
						},
						{
							value : 40,
							color : "#FFFFFF"
						}
					];

			var myDoughnut = new Chart(document.getElementById("C#").getContext("2d")).Doughnut(doughnutData);
			</script>
			<p>C#</p>
  	</div>
  	<div class="col-md-2">
		  	<canvas id=".NET" height="50" width="50"></canvas>
			<script>
				var doughnutData = [
						{
							value : 320,
							color : "#4D5360"
						},
						{
							value : 40,
							color : "#FFFFFF"
						}
					];

			var myDoughnut = new Chart(document.getElementById(".NET").getContext("2d")).Doughnut(doughnutData);
			</script>
			<p>.NET</p>
  	</div>
  	<div class="col-md-2">
		  	<canvas id="CSS3" height="50" width="50"></canvas>
			<script>
				var doughnutData = [
						{
							value : 250,
							color : "#4D5360"
						},
						{
							value : 110,
							color : "#FFFFFF"
						}
					];

			var myDoughnut = new Chart(document.getElementById("CSS3").getContext("2d")).Doughnut(doughnutData);
			</script>
			<p>CSS3</p>
  	</div>
  	<div class="col-md-2">
		  	<canvas id="HTML5" height="50" width="50"></canvas>
			<script>
				var doughnutData = [
						{
							value : 280,
							color : "#4D5360"
						},
						{
							value : 80,
							color : "#FFFFFF"
						}
					];

			var myDoughnut = new Chart(document.getElementById("HTML5").getContext("2d")).Doughnut(doughnutData);
			</script>
			<p>HTML5</p>
  	</div>
  	<div class="col-md-2">
		  	<canvas id="PHP" height="50" width="50"></canvas>
			<script>
				var doughnutData = [
						{
							value : 260,
							color : "#4D5360"
						},
						{
							value : 100,
							color : "#FFFFFF"
						}
					];

			var myDoughnut = new Chart(document.getElementById("PHP").getContext("2d")).Doughnut(doughnutData);
			</script>
			<p>PHP</p>
  	</div>
  	<div class="col-md-2">
		  	<canvas id="SQL Server 2008" height="50" width="50"></canvas>
			<script>
				var doughnutData = [
						{
							value : 280,
							color : "#4D5360"
						},
						{
							value : 80,
							color : "#FFFFFF"
						}
					];

			var myDoughnut = new Chart(document.getElementById("SQL Server 2008").getContext("2d")).Doughnut(doughnutData);
			</script>
			<p>SQL Server 2008</p>
  	</div>
  	<div class="col-md-2">
		  	<canvas id="MYSQL" height="50" width="50"></canvas>
			<script>
				var doughnutData = [
						{
							value : 300,
							color : "#4D5360"
						},
						{
							value : 60,
							color : "#FFFFFF"
						}
					];

			var myDoughnut = new Chart(document.getElementById("MYSQL").getContext("2d")).Doughnut(doughnutData);
			</script>
			<p>MYSQL</p>
  	</div>
	<div class="col-md-2">
		  	<canvas id="NODEJS" height="50" width="50"></canvas>
			<script>
				var doughnutData = [
						{
							value : 260,
							color : "#4D5360"
						},
						{
							value : 100,
							color : "#FFFFFF"
						}
					];

			var myDoughnut = new Chart(document.getElementById("NODEJS").getContext("2d")).Doughnut(doughnutData);
			</script>
			<p>NODEJS</p>
  	</div>
  	<div class="col-md-2">
		  	<canvas id="GITHUB" height="50" width="50"></canvas>
			<script>
				var doughnutData = [
						{
							value : 320,
							color : "#4D5360"
						},
						{
							value : 40,
							color : "#FFFFFF"
						}
					];

			var myDoughnut = new Chart(document.getElementById("GITHUB").getContext("2d")).Doughnut(doughnutData);
			</script>
			<p>GITHUB</p>
  	</div>
  </div>